.nav {
  height: 7rem;
  padding: 0 8rem;
  background-color: var(--color--body--text--shade);
}

.nav--logo {
  height: 4rem;
  width: 4rem;
  display: inline-block;
}

.nav__logo--div {
  gap: 0.5rem;
}

.nav__logo-p {
  font-size: 1.8rem;
  color: #fff;
}

.link--nav.reset {
  all: revert !important;
}

.link--nav.new {
  text-decoration: none !important;
}

.nav__right--side {
  display: flex;
  gap: 3.2rem;
}

.heading--tertiary-nav {
  font-size: 1.6rem;
  letter-spacing: 0.6px;
  color: #fff;
}

.nav__logout {
  display: flex;
  gap: 0.8rem;
}

.nav--icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color--shade--primary);
  cursor: pointer;
}
