.single__video--container {
  width: 100rem;
  margin: 7.2rem auto;
}

.single__video--textual-info {
  margin-bottom: 1rem;
}

.single__video--textual--left {
  gap: 1rem;
  margin-left: 0.5rem;
}

.heading--secondary-single-movie {
  color: #fff;
  font-size: 2rem;
}

.single__video--textual-year {
  font-size: 1.6rem;
  color: #fff;
  opacity: 75%;
}

.single__video--textual--right {
  width: 20%;
  margin-right: 0.5rem;
}

.heading--tertiary {
  font-size: 2rem;
  color: #fff;
  opacity: 75%;
}

.single__video--imdb-info,
.single__video--imdb-subinfo {
  font-size: 1.6rem;
  color: #fff;
}

.single__movie--star {
  margin-right: 0.5rem;
}

.single__video--imdb-subinfo {
  opacity: 75%;
}

.sinlge__video--trailer--image {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.single__video--image {
  max-height: 42rem;
}

.embeded-video {
  min-height: 42rem;
  min-width: 70rem;
}

.sinlge__video--trailer--image {
  margin-bottom: 1rem;
}

/*BOTTOM */

.textual__info--bottom {
  max-width: 70%;
  margin-left: 0.5rem;
}

.textual__info--bottom--genres {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.textual__info--bottom--description,
.textual__info--bottom--subheading {
  color: #fff;
  font-size: 1.6rem;
  opacity: 75%;
  padding-bottom: 1rem;
}

.heading-fourth,
.textual__info--bottom--genre {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.textual__info--bottom--description {
  line-height: 1.6;
  opacity: 75%;
}

.textual__info--bottom--writters--wrapper {
  display: flex;
  gap: 0.5rem;
}

.textual__info--bottom--director--container,
.textual__info--bottom--writers--container,
.textual__info--bottom--description {
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 1rem;
}
