.single__video--container {
  width: 100rem;
  margin: 7.2rem auto;
}

.single__video--textual-info {
  margin-bottom: 1rem;
}

.single__video--textual--left {
  gap: 1rem;
  margin-left: 0.5rem;
}

.heading--secondary-single-movie {
  color: #fff;
  font-size: 2rem;
}

.single__video--textual-year {
  font-size: 1.6rem;
  color: #fff;
  opacity: 75%;
}

.single__video--textual--right {
  width: 20%;
  margin-right: 0.5rem;
}

.heading--tertiary {
  font-size: 2rem;
  color: #fff;
  opacity: 75%;
}

.single__video--imdb-info,
.single__video--imdb-subinfo {
  font-size: 1.6rem;
  color: #fff;
}

.single__movie--star {
  margin-right: 0.5rem;
}

.single__video--imdb-subinfo {
  opacity: 75%;
}

.sinlge__video--trailer--image {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.single__video--image {
  max-height: 42rem;
}

.embeded-video {
  min-height: 42rem;
  min-width: 70rem;
}
