/* movie card */
.movie-card {
  display: flex;
  flex-direction: column;
  height: auto;
}
.movie-card__header {
  width: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 998;
}
.movie-card__image {
  width: 100%;
  aspect-ratio: 12/9;
  min-height: 21.6rem;
  object-position: center;
  cursor: pointer;
}
.movie-card__star {
  height: 1.4rem;
  width: 1.4rem;
}
.movie-card__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}
.movie-card__info--p,
.movie-card__rating {
  font-size: 1.4rem;
  color: #fff;
  opacity: 75%;
}
.movie-card__info--p-star {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.movie-card__genre-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.movie-card__heading {
  margin-top: 0.4rem;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
}

.movie-card__header:hover > .movie-card__overlay {
  visibility: visible;
  opacity: 50%;
}

.movie-card__header:hover > a,
.movie-card__header:hover > .btn__icon--container {
  visibility: visible;
  opacity: 75%;
}

.movie-card__header:hover > .btn__icon--container {
  opacity: 75%;
  visibility: visible;
}

a:hover > .btn__icon--container > .btn__icon--container-p {
  color: #000 !important;
}
