.pagination__control--container {
  justify-content: center;
  display: flex;
  gap: 0.8rem;
  padding: 6.2rem 0;
}

.pagination__buttons {
  display: flex;
  gap: 0.4rem;
}

.pagination__btn,
.btn__control {
  opacity: 75%;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color--body---text);
  font-weight: 500;
  border: none;
}

.pagination__btn--active {
  opacity: 100%;
  background-color: var(--color--accent--primary);
}

.btn__control:active {
  background-color: var(--color--accent--primary);
}
