.sidebar {
  padding: 1rem;
  background-color: #161d2f;
  width: 110rem;
  margin: 0 auto 0.1rem auto;
  border-radius: 1rem;
}

.sidebar__personalize {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.sidebar__icon {
  height: 2.4rem;
  width: 2.4rem;
  display: inline-block;
  color: #979797;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar__icon--active {
  color: #fc4747;
}
