/* TRENDING*/

.section__trending {
  position: relative;
  padding: 3.2rem 0 6.4rem 0;
}

.heading-progress__container {
  width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading__trending {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
}

.progress__bar {
  display: flex;
  gap: 0.2rem;
}

.progress__bar--item {
  background-color: #fff;
  padding: 0.3rem 0.75rem;
  opacity: 75%;
}

.progress__bar--item-active {
  opacity: 100%;
}

.btn {
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 75%;
  font-size: 1.8rem;
  background-color: #fff;
  z-index: 999;
}

.btn__slide-left {
  left: 8%;
}

.btn__slide-right {
  right: 5%;
}

.container__trending {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__wrapper {
  --items-per-screen: 4;
  display: flex;
}

.card__wrapper img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: 0.25rem;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
