/* TRENDING*/

.section__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 3.2rem 0 6.4rem 0;
  width: 110rem;
  margin: 0 auto;
}

.heading-progress__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading__trending {
  font-size: 2.1rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.progress__bar {
  display: flex;
  gap: 0.2rem;
}

.progress__bar--item {
  padding: 0.3rem 0.75rem;
  opacity: 75%;
  background-color: #fff;
}

.progress__bar--item-active {
  opacity: 100%;
  background-color: var(--color--accent--primary);
}

.btn__slide {
  padding: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--color--body---text);
  background-color: var(--color--shade--primary);
  font-size: 1.8rem;
}

.btn__slide:active {
  background-color: var(--color--accent--primary);
}

.container__trending {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.img--wrapper {
  --items-per-screen: 4;
  position: relative;
  display: flex;
  padding: 0.25rem;
  z-index: 998;
  height: 100%;
  width: 100%;
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  border-radius: 1rem;
  transition: transform 0.5s ease-in-out;
}

.card__wrapper {
  width: 100%;
  height: 100%;
}

.card__wrapper img {
  height: 100%;
  width: 100%;
}

.img--wrapper:hover > .movie-card__overlay {
  visibility: visible;
  opacity: 50%;
}

.img--wrapper:hover > .btn__icon--container {
  visibility: visible;
  opacity: 75%;
}
