/* TRENDING*/

.section__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 3.2rem 0 6.4rem 0;
  width: 110rem;
  margin: 0 auto;
}

.heading-progress__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading__trending {
  font-size: 2.1rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.progress__bar {
  display: flex;
  gap: 0.2rem;
}

.progress__bar--item {
  background-color: #fff;
  padding: 0.3rem 0.75rem;
  opacity: 75%;
}

.progress__bar--item-active {
  opacity: 100%;
}

.btn {
  padding: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 75%;
  font-size: 1.8rem;
  background-color: #fff;
}

.container__trending {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__wrapper {
  --items-per-screen: 4;
  display: flex;
}

.card__wrapper img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  padding: 0.25rem;
  border-radius: 1rem;
  transition: transform 0.5s ease-in-out;
}
