@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #10141e;
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 100rem;
  margin: 0 auto;
}

.container__movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.4rem;
  column-gap: 1rem;
}

.heading--secondary {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 400;
}

.heading-movies {
  margin-top: 4.2rem;
}

/* movie card */
.movie-card {
  display: flex;
  flex-direction: column;
  height: auto;
}
.movie-card__header {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.movie-card__image {
  width: 100%;
  aspect-ratio: 16/9;
  object-position: center;
}
.movie-card__star {
  height: 1rem;
  width: 1rem;
}
.movie-card__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}
.movie-card__info--p,
.movie-card__rating {
  font-size: 1rem;
  color: #fff;
  opacity: 75%;
}
.movie-card__info--p-star {
  display: flex;
  gap: 0.5rem;
}
.movie-card__genre-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.movie-card__heading {
  margin-top: 0.4rem;
  color: #fff;
  width: 100%;
}

/* TRENDING*/

.section__trending {
  position: relative;
}

.heading-progress__container {
  width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading__trending {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
}

.progress__bar {
  display: flex;
  gap: 0.2rem;
}

.progress__bar--item {
  background-color: #fff;
  padding: 0.3rem 0.75rem;
  opacity: 75%;
}

.progress__bar--item-active {
  opacity: 100%;
}

.btn {
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 75%;
  font-size: 1.8rem;
  background-color: #fff;
  z-index: 999;
}

.btn__slide-left {
  left: 8%;
}

.btn__slide-right {
  right: 5%;
}

.container__trending {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__wrapper {
  --items-per-screen: 4;
  display: flex;
}

.card__wrapper img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: 0.25rem;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
