@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

:root {
  --color--shade--primary: hsl(0, 0%, 75%);
  --color--accent--primary: #fc4747;
  --color--body--text: #10141e;
  --color--body--text--shade: #161d2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color--body--text);
  font-family: 'Outfit', sans-serif;
  line-height: 1.4;
}

.container {
  width: 100rem;
  margin: 0 auto;
}

.container__movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4.2rem;
  column-gap: 0.5rem;
  min-height: 10rem;
}

.heading--secondary {
  font-size: 2.1rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 400;
}

.heading__no--match--found {
  text-align: center;
  padding-bottom: 12rem;
}

.section__pagination {
  display: flex;
  flex-direction: column;
}

.container__pagination {
  width: 110rem;
  margin: 0 auto;
}

.movie-card__overlay {
  background-color: #000;
  height: 100%;
  width: 100%;
  opacity: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.btn__icon--container {
  height: 2.8rem;
  width: 2.8rem;
  position: absolute;
  top: 2%;
  z-index: 9999;
  background-color: var(--color--body--text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.btn__icon--container:hover {
  background-color: #fff;
}

.btn__icon--container:hover > .movie-card__icon {
  color: var(--color--body--text);
}

.btn__icon--liked {
  right: 15%;
}
.btn__icon--bookmark {
  right: 2%;
}

.movie-card__icon {
  width: 60%;
  color: #fff;
}
