@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

:root {
  --color--shade--primary: hsl(0, 0%, 75%);
  --color--accent--primary: #fc4747;
  --color--body--text: #10141e;
  --color--body--text--shade: #161d2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color--body--text);
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 100rem;
  margin: 0 auto;
}

.container__movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4.2rem;
  column-gap: 0.5rem;
  min-height: 10rem;
}

.heading--secondary {
  font-size: 2.1rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 400;
}

.heading__no--match--found {
  text-align: center;
  padding-bottom: 12rem;
}

.section__pagination {
  display: flex;
  flex-direction: column;
}

.container__pagination {
  width: 110rem;
  margin: 0 auto;
}
